<% if current_page.path != 'acknowledgements.html' %>
  <strong>Editors:</strong>
  <a href="<%= w3url '/People/#kevin' %>">Kevin White</a>,
  <a href="<%= w3url '/People/shadi' %>">Shadi Abou-Zahra</a>, and
  <a href="<%= w3url '/People/Shawn' %>">Shawn Lawton Henry</a>.

  <a href="acknowledgements.html">Acknowledgements</a> includes notes on past iterations.

  Developed by the <a href="<%= w3url '/WAI/EO/' %>">Education and Outreach Working Group (EOWG)</a>.

  Developed with support from the <a href="<%= w3url '/WAI/DEV/' %>">WAI-DEV project</a>, co-funded by the European Commission <abbr title="Information Society Technologies">IST</abbr> Programme.
<% end %>