<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    <% if current_page.url != '/Overview.html' %>
      <%= current_page.data.title %> &bull;
    <% end %>
    <%= site['title'] %> &bull; WAI
  </title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" %>
  <link href="<%= w3url "/WAI/wai-main.css" %>" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag "main" %>
	<!--[if IE 7]><%= stylesheet_link_tag (w3url "/WAI/ie-old.css"), :relative => false %><![endif]-->
  <%= javascript_include_tag "modernizr" %>
</head>
<body class="<%= page_classes %> <%= current_page.data.layout.gsub('/', ' ') %> <%= current_page.data.status %>">
  <header>
  	<ul id="controls">
  		<li><a href="#skip"><img alt="" src="<%= w3url "/Icons/downinpage.png" %>" /> Skip to Content</a></li>
  		<li> | <a href="<%= w3url "/WAI/changedesign" %>">Change text size or colors</a></li>
  	</ul>
  	<div id="masthead">
      <p id="logos">
        <a href="<%= w3url "/" %>" title="W3C Home"><img alt="W3C Logo" src="<%= w3url "/Icons/w3c_home" %>" /></a><a href="<%= w3url "/WAI/" %>" title="WAI Home"><img alt="Web Accessibility initiative" src="<%= w3url "/WAI/images/wai-temp" %>" /></a>
      </p>
    </div>
  	<div id="tagline">
      <p>WAI: Strategies, guidelines, resources to make the Web accessible to people with disabilities</p>
    </div>
  </header>
  <%= partial "layouts/sitenav" %>