<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
  <%= current_page.data.title %>
  <% if current_page.data.order == 1 %>
    <% if current_page.data.guide_title %>
      <%= " &bull; " + current_page.data.guide_title %>
    <% end %>
  <% else %>
    <% if current_page.parent and current_page.parent.data.guide_title %>
      <%= " &bull; " + current_page.parent.data.guide_title %>
    <% end %>
  <% end %>
  &bull; WAI Web Accessibility Planning
  </title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag "modernizr" %>
  <%= javascript_include_tag "velocity" %>
</head>
<body class="texts <%= current_page.data.layout %>  <%= current_page.data.status %>">
  <header role="banner">
    <div class="w3c-wai-header">
      <a href="http://w3.org/"><%= image_tag 'w3c.png', :alt => "W3C", :width => "90" %></a>
      <a href="http://w3.org/WAI/" class="wai"><%= image_tag 'wai.png', :alt => "Web Accessibility Initiative" %></a>
      <a class="view-menu" href="#sitenav">Show to main navigation</a>
      <%= partial "layouts/sitenav" %>
    </div>
    <div class="page-title">
      <p>
  			<% if current_page.url == '/' %>
          Web Accessibility Planning
        <% else %>
          <%= x_link_to('Web Accessibility Planning', '/index.html') %>
          <span class="subheading"><%= current_page.data.nav_title %></span>
        <% end %>
      </p>
    </div>
  </header>
  <div>
    <%= partial "layouts/status" %>