<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= current_page.data.title %> &bull; Web Accessibility Roadmap</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag "modernizr" %>
  <%= javascript_include_tag "velocity" %>
</head>
<body class="<%= page_classes %> <%= current_page.data.layout %> <%= current_page.data.status %>">
    <%= partial "layouts/status" %>
    <header role="banner">
    <div class="w3c-wai-header">
      <a href="http://w3.org/"><%= image_tag 'w3c.png', :alt => "W3C", :width => "90" %></a>
      <a href="http://w3.org/WAI/" class="wai"><%= image_tag 'wai.png', :alt => "Web Accessibility Initiative" %></a>
      <a id="show-sitenav" href="#sitenav">Show to main navigation</a>
      <%= partial "layouts/sitenav" %>
    </div>
    <div class="page-title">
      <p>
  			<% if current_page.url == '/' %>
          Web Accessibility Roadmap
        <% else %>
          <%= x_link_to('Web Accessibility Roadmap', '/index.html') %>
        <% end %>
        <span class="subheading">Practical Guidance for Planning, Managing, and Implementing Web Accessibility</span>
      </p>
    </div>
  </header>
  <div>
