<nav id="primary">
  <ul>
    <li><%= nav_link('Home', '/index.html', { class: 'home' }) %></li>
    <li><%= nav_link('Initiate', '/initiate/index.html', { class: 'initiate' }) %></li>
    <li><%= nav_link('Plan', '/plan/index.html', { class: 'plan' }) %></li>
    <li><%= nav_link('Implement', '/implement/index.html', { class: 'implement' }) %></li>
    <li><%= nav_link('Monitor', '/monitor/index.html', { class: 'monitor' }) %></li>
  </ul>
</nav>