<%= partial "layouts/header" %>

<main id="main" role="main">
  <%= partial "layouts/status" %>

  <h1 id="skip"><% if current_page.data.icon %><i style="margin-right: 0" class="fa fa-<%= current_page.data.icon %>"></i> <% end %><%= current_page.data.title %></h1>

  <div class="right-inset">
    <%= partial "layouts/sectionnav" %>
    <%= partial "navigation" %>
  </div>

  <div class="inner">
    <%= yield %>
  
    <div class="support-material">
      <% if content_for?(:more_information) %>
      <aside class="more_information">
        <h3>For more information</h3>
        <%= yield_content :more_information %>
      </aside>
      <% end %>

      <% if content_for?(:related) %>
      <aside class="related">
        <h3>Related activities</h3>
        <%= yield_content :related %>
      </aside>
      <% end %>
    </div>
  </div>
  <%= partial "layouts/contribute" %>
</main>

<%= partial "layouts/footer" %>