<% wrap_layout :layout do %>
  <h2 class="attach_permalink"><%= current_page.data.title %></h2>
  <div class="inner">
    <div class="yield">
      <%= yield %>
      <p><%= link_to('Return to ' + current_page.data.parent, 'index.html') %></p>
    </div>
  
    <div class="support_material">
      <% if content_for?(:resources) %>
      <aside id="resources">
        <h3>Key Resources</h3>
        <%= yield_content :resources %>
      </aside>
      <% end %>

      <% if content_for?(:related) %>
      <aside id="related">
        <h3>Related Activities</h3>
        <%= yield_content :related %>
      </aside>
      <% end %>
    </div>
  </div>
<% end %>