<%= partial "layouts/header" %>

<main id="main" role="main">
  <%= partial "layouts/status" %>

  <h1 id="skip"><%= current_page.data.title %></h1>

  <div class="right-inset">
    <%= partial "layouts/sectionnav" %>
    <%= partial "navigation" %>
  </div>

  <div class="inner">
    <%= yield %>
  
    <div class="support-material">
      <% if content_for?(:resources) %>
      <aside class="resources">
        <h3>Key Resources</h3>
        <%= yield_content :resources %>
      </aside>
      <% end %>

      <% if content_for?(:related) %>
      <aside class="related">
        <h3>Related Activities</h3>
        <%= yield_content :related %>
      </aside>
      <% end %>
    </div>
  </div>
  <%= partial "layouts/contribute" %>
</main>

<%= partial "layouts/footer" %>