<%= partial "layouts/header" %>

<main id="main" role="main">
  <%= partial "layouts/status" %>

  <h1 id="skip"><i class="fa fa-<%= current_page.data.icon %>"></i><%= current_page.data.title %></h1>

  <div class="right-inset">
    <%= partial "layouts/sectionnav" %>
  </div>
  
  <div class="inner">
    <%= yield %>
  </div>
  <%= partial "layouts/contribute" %>
</main>

<%= partial "layouts/footer" %>