<%= partial "layouts/header" %>

<main id="main" role="main">
  <%= partial "layouts/status" %>

  <h1 id="skip"><%= current_page.data.title %></h1>

  <div class="right-inset">
    <%= partial "layouts/sectionnav" %>
    <nav class="activity">
      <h2>Activities</h2>
      <% section  = File.dirname(current_page.path) %>
      <% nav_data = eval('data.structure.' + section) %>
      <p><%= link_to "<i class='fa fa-#{nav_data.icon}'></i>#{nav_data.label}", "/#{section}/index.html" %></p>
      <ul>
        <% nav_data.activities.each do |tag| %>
          <% if is_current? section + "#" + tag.gsub('_', '-') %>
            <li class="current"><%= title(tag) %></li>
          <% else %>
            <li><%= link_to title(tag), "#" + tag.gsub('_', '-') %></li>
          <% end %>
        <% end %>
      </ul>
    </nav>    
  </div>

  <div class="inner">
    <%= yield %>
  </div>
  <%= partial "layouts/contribute" %>
</main>

<%= partial "layouts/footer" %>