<%= partial "layouts/header", :locals => { :has_menu => false } %>
<main role="main" class="content <%= current_page.data.status %>">

	<% if current_page.data.status=="draft" %>
	<div class="status">
	  <p><strong>Status:</strong> This is an in-progress, unapproved draft.</p>
	</div>
	<% end %>
	<% if current_page.data.status=="editors-draft" %>
	<div class="status">
	  <p><strong>Status (not ready for review):</strong> This is an in-progress, unapproved editor’s draft. Content may change at any time without notice.</p>
	</div>
	<% end %>

  <article role="article">
	  <header class="heading">
	    <h1>
	      <%= current_page.data.title %>
	    </h1>
	  </header>

	  <div class="inner ">
	    <%= yield %>
	  </div>

		<div class="resources">
			<h2>Resources</h2>
			<ul>
				<% data.resources.links.each do |f| %>
					<li><a href="<%=f[:url]%>"><%=f[:title]%></a> &ndash; <%=f[:desc]%></li>
				<% end %>
			</ul>
		</div>
  </article>
</main>
<%= partial "layouts/footer" %>