<%= partial "layouts/header" %>

<main role="main" class="content">
  <%= partial "layouts/navigation" %>
  <section role="region">
    <%= yield %>
  </section>
</main>

<%= partial "layouts/contribute" %>

<%= partial "layouts/footer" %>