<%= partial "layouts/header" %>

<main role="main" class="content">
  <%= partial "layouts/navigation" %>
  <div class="wrap">
    <section role="region">
      <%= yield %>
    </section>
  </div>
</main>

<%= partial "layouts/contribute" %>

<%= partial "layouts/footer" %>