<%= partial "layouts/header" %>

<main id="main" role="main">
  <%= partial "layouts/status" %>

  <h1 id="skip"><% if current_page.url != '/Overview.html' %><%= current_page.data.title %> for <% end %><%= site['title'] %></h1>

  <div class="inner">
    <%= yield %>
  </div>
  <%= partial "layouts/contribute" %>
</main>

<%= partial "layouts/footer" %>