---
status: editors-draft
support: <strong>Developed with support</strong> from the <a href="http://www.w3.org/WAI/DEV/">WAI-DEV</a> project, co-funded by the European Commission <abbr title="Information Society Technologies">IST</abbr> Programme.
---

<h2><%= title %></h2>

<p><%= category_data.desc %></p>

<div class="activities">
  <% category_data.activities.each do |activity,activity_data| %>
    <article id="<%= activity_data.shortname %>" class="tab">
      <h3><a href="/<%= activity_data.shortname %>/"><%= activity %></a></h3>

      <div class="description">
        <p><%= activity_data.desc %></p>
      </div>
      
      <p><a href="/<%= activity_data.shortname %>/">Find out more<span class="nodecoration"> ►</span></a></p>
    </article>
  <% end %>
</div>