---
title: Web Accessibility Roadmap
nav_title: Introduction
status: editors-draft
template: withtabs
support: <strong>Developed with support</strong> from the <a href="http://www.w3.org/WAI/DEV/">WAI-DEV</a> project, co-funded by the European Commission <abbr title="Information Society Technologies">IST</abbr> Programme.
---

<!-- TODO: Sort out titles-->
<!-- TODO: Sort out navigation-->

<div class="introduction">
  <div class="inner">
    <p>A successful plan for web accessibility addresses many areas of your organization and projects: training, quality assurance, recruiting, purchasing, marketing, content development, visual design, and more. As with other important aspects of website development, such as performance, accessibility is best approached as an integral and ongoing activity.</p>
  </div>
</div>

<ul id="tabs" class="tabs">
  <% data.content.each do |category,category_data| %>
    <li><a href="#<%= category_data.shortname %>"><span class="icon icon-<%= category_data.icon %>"></span><%= category %></a></li>
  <% end %>
</ul>

<div class="tabpanels">
  <% data.content.each do |category,category_data| %>
    <article id="<%= category_data.shortname %>" class="tab">
      <h2><a href="/<%= category_data.shortname %>/"><%= category %></a></h2>

      <div class="description">
        <p><%= category_data.desc %></p>
      </div>

      <div class="tasks">
        <h3>Activities to consider</h3>
        <ul>
          <% category_data.activities.take(6).each do |activity,activity_data| %>
            <li><a href="#"><%= activity %></a>
              <p><%= activity_data.desc %></p>
            </li>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>
</div>