---
title: "Planning and implementation"
nav_title: "Introduction"
status: editors-draft
order: 1
support: <strong>Developed with support</strong> from the <a href="http://www.w3.org/WAI/DEV/">WAI-DEV</a> project, co-funded by the European Commission <abbr title="Information Society Technologies">IST</abbr> Programme.
---

<div class="introduction">
  <div class="inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>

<ul id="tabs" class="tabs">
  <% data.categories.each do |category,category_data| %>
    <li><a href="#<%= category_data.shortname %>"><%= category %></a></li>
  <% end %>
</ul>

<div class="tabpanels">
  <% data.categories.each do |category,category_data| %>
    <article id="<%= category_data.shortname %>" class="tab">
      <h2><a href="/<%= category_data.shortname %>/"><%= category %></a></h2>

      <div class="description">
        <p><%= category_data.desc %></p>
      </div>

      <div class="tasks">
        <h3>What do you need to do?</h3>
        <ul>
          <% category_data.tasks.take(6).each do |task| %>
            <li><a href="#"><%= task %></a>
              <% if data.tasks.include?(task) %><p><%= data.tasks[task].desc %></p><% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>
</div>