---
title: "Planning and implementation"
nav_title: "Introduction"
status: editors-draft
layout: introduction
order: 1
support: <strong>Developed with support</strong> from the <a href="http://www.w3.org/WAI/DEV/">WAI-DEV</a> project, co-funded by the European Commission <abbr title="Information Society Technologies">IST</abbr> Programme.
---

<div id="carousel">
  <nav>
    <ul id="carousel-nav">
      <li><a class="overview current" href="#overview">Overview</a></li>
      <% data.tasks.categories.each do |category,data| %>
        <li><a class="<%= data.shortname %> icon-<%= data.icon %>" href="#<%= data.shortname %>"><%= category %></a></li>
      <% end %>
    </ul>
  </nav>

  <article class="active slide current overview">
    <h2 id="overview">Overview</h2>

    <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="tasks">
      <h3>Key tasks</h3>
      <ul>
        <% data.tasks.categories.each do |category,data| %>
        <li><span class="icon-<%= data.icon %>"></span><a class="<%= data.shortname %>" href="/<%= data.shortname %>/"><%= category %></a></li>
        <% end %>
      </ul>
    </div>
  </article>

  <% data.tasks.categories.each do |category,data| %>
    <article class="slide">
      <h2 id="<%= data.shortname %>"><a href="/<%= data.shortname %>/"><%= category %></a></h2>
  
      <div class="description">
        <p><%= data.desc %></p>
      </div>

      <div class="tasks">
        <h3>What do you need to do?</h3>
        <ul>
          <% data.tasks.take(6).each do |task| %>
            <li><a href="#"><%= task %></a></li>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>
</div>